.draggable {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
    margin-left: 45%;
    margin-top: 3%;
  }
  
  .title-bar {
    background-color: rgb(183, 180, 180);
    padding: 10px;
    cursor: move;
  }
  
  .content {
    padding: 10px;
    height: calc(100% - 40px);
  }